%html
  %head
  %body
    - if logged_in?
      %a{:href => '/logout'} logout
    - else
      %a{:href => '/login'} login
    %div= @header
    %div{ :style => "width:200px;float:left" }= @menu
    %div{ :style => 'float:left' }= yield