<form action='/save' method='post'>
  <h2>Edit welcome page</h2>
  <label>Title</label><br/>
  <input type='text' name='title'/><br/>
  
  <label>Body</label><br/>
  <textarea name='body' rows='28' cols='100'></textarea><br/>
  
  <input type='submit' value='Salvar'/>
</form>
